.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.DoctorSection {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.17fr 1fr;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}
.mainPage {
  width: 100%;
  height: 100%;
  padding: 30px;
}

/* patient page styling */
.filterSection {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.filters {
  width: 50%;
  height: 60px;
  display: flex;
}
.filterItem {
  margin-left: 30px;
  border: 2px solid #00a77a;
  padding: 0px 10px;
  min-width: 130px;
  height: 45px;
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.filterText {
  font-size: 15px;
  font-family: "Cairo", sans-serif;
  margin: 0;
  color: #616161;
}
.filterItem:hover {
  background-color: #00a77a;
}
.filterItem:hover .filterText {
  color: #fff;
}
.activeFilter {
  background-color: #00a77a;
  color: #fff;
}
.searchInput {
  width: 250px;
  height: 50px;
  background-color: #00a77a14;
  border: none;
  padding: 0 20px;
  border-radius: 10px;
}
.searchInput:focus {
  outline: none;
}
.patientstable {
  width: 100%;
}
.tableHeading {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.3fr;
  padding: 0 50px;
  background-color: #00a77a2a;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
}
.headingItem {
  height: 50px;
  display: flex;
  align-items: center;
}
.headingTitle {
  font-size: 19px;
  color: #00a77a;
  font-family: "Cairo", sans-serif;
}
.tableRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.3fr;
  padding: 0 50px;
  background-color: #fff;
  height: 60px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.101);
}
.columnItem {
  font-size: 17px;
  font-family: "Cairo", sans-serif;
  color: #616161;
  display: flex;
}
.tableColumn {
  height: 60px;
  display: flex;
  align-items: center;
}
.iconContainer {
  cursor: pointer;
  margin-right: 5px;
}

/*PatientSection  styling*/
.PatientSection {
}
.mainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}
.patientPagetitle {
  font-family: "Cairo", sans-serif;
  font-size: 19px;
  padding: 0 20px;
}
.patientData {
  width: 100%;
  min-height: 500px;
  padding: 0 40px;
  border-top: 1px solid #00a77a61;
}
.PatientHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patientName {
  font-family: "Cairo", sans-serif;
  font-size: 22px;
}
.Btn {
  width: 160px;
  height: 45px;
  background-color: #00a77a;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Cairo", sans-serif;
}

.statsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.statHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.headingTitel {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
.StatValue {
  font-family: "Cairo", sans-serif;
  font-size: 22px;
  margin-left: 10px;
}
.stat {
  width: 100%;
  border: 1px solid #00a77a61;
  padding: 10px;
  border-radius: 10px;
}

.active {
  background-color: #00a77a;
  color: #fff;
}
.Entity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
}

.otherPatientsSection {
  width: 100%;
  border-top: 0.5px solid #00a77a61;
  border-left: 0.5px solid #00a77a61;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}
.patientPreview {
  width: 90%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.101);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.patientPreview h2 {
  font-family: "Cairo", sans-serif;
  font-size: 17px;
}
.patientPreview h3 {
  font-family: "Cairo", sans-serif;
  font-size: 17px;
}
.iconContainer {
  margin: 0 5px;
}
.chartsContainer {
  width: 50%;
}
.charts {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

/* modal section styling */
.Modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.615);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
  animation: goUp 0.5s ease forwards;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalContent2 {
  position: absolute;
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
  animation: goUp 0.5s ease forwards;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalContent3 {
  position: absolute;
  width: 80%;
  border-radius: 10px;
  animation: goUp 0.5s ease forwards;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes goUp {
  0% {
    top: 150%;
  }

  100% {
    top: 50%;
  }
}

.ModalTitle {
  font-family: "Cairo", sans-serif;
}
.AddUserformContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding: 10px 30px;
}
.textField {
  width: 100% !important;
}
.btnContainer {
  width: 55%;
  justify-content: space-between;
}
.cancel {
  background-color: #fff !important;
  border: 1px solid #00a77a !important;
  color: #00a77a !important;
  font-family: "Cairo", sans-serif !important;
}
.delete {
  background-color: #c93030 !important;
  border: 1px solid #c93030 !important;
  color: #fff !important;
  font-family: "Cairo", sans-serif !important;
}
.Radio {
  width: 90%;
  max-height: 80vh;
}
.SubmitBtn {
  background-color: #00a77a;
  border: none;
  color: #fff;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Cairo", sans-serif !important;
  margin-top: 50px;
  cursor: pointer;
}
.btnLab{
  background-color: #3F7FBF !important;

}
.Select {
  grid-column-start: 1;
  grid-column-end: 3;
}
