@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginSection{
    width:100%;
    height:100vh;
    background-color: #00A77A;
    background: linear-gradient(to bottom right,#00A77A,#017959);
}
.formContainer{
    width:30%;
    height:60vh;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.27);
    flex-direction: column;
    justify-content: flex-start !important;
}
.form{
    flex-direction: column;
    padding: 30px;
    width: 80%;
}
.textField{
    width: 400px !important;
    margin-bottom: 20px !important;
}
.LoginBtn{
    background-color: #00A77A !important;
    width: 180px;
    padding: 10px !important;
    font-family: 'Kdam Thmor Pro', sans-serif;

}
.LoginLogo{
    width: 20%;
    margin: 20px;
    
}
.LoginTitle{
    font-size: 22px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    letter-spacing: 1px;
    color: #4F6466;
}
.alert{
    width: 90%;
    height: 50px;
    background-color: #FF6B6B;
    margin-top: 20px;
    justify-content: flex-start !important;
    padding-left: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.209);
}
.alertMessage{
    font-size: 17px;
    font-family: "Cairo", sans-serif;
    color: #fff;
}